

h1 {
    color: white;
    text-shadow: 5px 5px 10px black;
}

#grad1 {
    height: 100%;
    width: 100%;
    background-color: #cccccc;
    background-image: linear-gradient(blue, purple);
}

.container {
    position: relative;
    text-align: left;
    color: white;
    margin-left: 25px;
}

.bildtxt {
    position: absolute;
    top: 8px;
    left: 16px;
    text-shadow: 5px 5px 10px black;
    font-size: 2em;
}

.bildMann {
    position: absolute;
    bottom: 35%;
    right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black, 0 0 40px blue, 0 0 10px darkblue, 0 0 5px darkred;
}
#bild {
    border-radius: 10px;
}